/*--------------
    username
--------------*/

#custom-user {
    padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
    color: @workspaces;
}

#workspaces {
    padding: 0 1px;
    background-color: @workspaces;
}

#workspaces button.active label,
#workspaces button.focused label {
    color: @accent;
}


#custom-right_div.6 {
    color: @date;
}


#custom-right_div.7 {
    color: @tray;
    background-color: @date;
}

#custom-pomodoro {
    background-color: @date;
    padding-left: 5px;
}

/*------------------
    window title
------------------*/

#window {
    margin-left: 12px;
}
